.container-fluid {
    background: rgba(0, 0, 0, 0.00);
    margin-top: 50px;
}
.row {
    background: #8FB988;
}
.petinfo {
    margin: none;
    padding-top: 12px;
}
.petbod {
    margin: none;
    padding-top: 12px;
}
.desc {
    width: 50%;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 1px solid black;
}