#petHead {
    background-color: #e9e5ff;
    padding: 10px;
    width: 200px;
}

#petBod {
    background-color: #f8f7ff;
    border-bottom: solid 2px #ADA1EB;
    padding: 10px;
    width: 98%;
}
img {
    border-radius: 100%;
    border: 1px solid black;
}