
<div class="container">
  <div class="contact-col">

   <br><br>
     <div class="new-message">  
       <img src="https://image.ibb.co/jcjXKv/papalogo1.png" style="width:80px; height:80px;">  
            <p>Click below to submit your request! We will get back to you in 5 business days! Thank you!</p>

            <div align="right">
            <!-- <button [disabled]="loading" class="button  email">Submit</button> -->
        <a href="mailto:parkerpetson@gmail.com" class="button">Email Us</a> 
           </div>
           <br>
            <br>

    </div>
    <a href="/#/landing" class="btn contact">Back to Home</a>
    </div>
</div>
