<div class="sidebar">

   
     <div class="new-message">
         
        <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
        
            <p>Enter Name:</p>
            <input name='userName' type="text" [(ngModel)]='model.name' required>
           
            <p>Please leave your message here:</p>
            <textarea name='description' placeholder='Hello PAP Team! May you please help me out with.....? Thank you!' [(ngModel)]='model.description' required></textarea>
<br><br>
            <div align="right">
            <!-- <button [disabled]="loading" class="button  email">Submit</button> -->
             <a href="/submit" class="button">Submit Request</a> 
           </div>
           <br>
            <br>
        </form>
    </div>
</div>

