<div class="container">
  <div class="contact-col">

   <br><br>
     <div class="new-message">  
       <h3 style="color:#FFF;">Success!</h3>
       <img src="https://image.ibb.co/jcjXKv/papalogo1.png" style="width:80px; height:80px;">  
            <p>Your request has been submitted successfully! We will get back to you in 5 business days!</p>
            <div align="right">
            <!-- <button [disabled]="loading" class="button  email">Submit</button> -->
             <a href="/#/landing" class="button">back to home</a> 
           </div>
           <br>
            <br>

    </div>
    </div>
</div>
