.navbar-brand {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    height: 50px;
    padding: 15px 15px;
    font-size: 24px;
    letter-spacing: -2px;
    line-height: 20px;
   -webkit-font-smoothing: antialiased;
}
    
.navbar-inverse {
    background-color: #333;
    top: -2px;
    position: fixed;
    width:100%; 
    border: none;
}

/* .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: none;
    width:90%;
    position: fixed;
    background-color: #333;
} */

/* .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: none;
    position: fixed;
    background-color: #333;
} */
 
.container-fluid {
    /* background-color: #333;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
    /* position:fixed; */
}

/* a {
    color: #333;
}

a:hover {
    color: #000;
    text-decoration: underline;
}
a.btn.btn-link {
    color: pink;
    text-decoration: underline;
} */
