/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

body {
    background: url('./img/background.png');
    opacity: 4;
    background-color: #27AE60;
    background-repeat: repeat, no-repeat;
    background-size: auto, 100% auto;
    background-position: top left, top center;
    background-attachment: fixed,fixed;
    font-family: 'Heebo', sans-serif;
}

	body.is-loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
h1 {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

h3 {
    font-family: 'Sedgwick Ave', cursive;
    text-transform: lowercase;
    color:  #d7d7d7;
    font-size: 20px;
}

p {
    font-size:20px;
    color: #454c53;
    font-family: Open Sans;
}

label {
    display: inline-block;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

#margin {
    margin-left: 100px;
    margin-right: 100px;
}

/*navbar*/

/*links*/

/*input text area*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0) inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:rgba(255,255,25,,0);
    background-image: none;
    color: rgb(0, 0, 0);
    
} */

/* input[type=text]:focus, textarea:focus {
 color: rgba(255, 255, 255, 0.00);
  box-shadow: 0 0 5px rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border-right: rgba(255,255,255,0);
  background-color: rgba(125, 125, 125, 0.34);
  border-top:none;
  border-right: none;
  border-left:none;
} */

/* input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:rgba(255,255,255,0);
    background-image: none;
    color: rgb(0, 0, 0);
}

.container {
    background-color: #FFFF;
}

.scroll {
    height: 42px;
    position: center;

} */

/*landing page sections*/
	#main {
		position: relative;
    background-image: url('https://static.pexels.com/photos/412537/pexels-photo-412537.jpeg');
    width: 100%;
		color: #fff;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.4);
		text-align: ;
		padding: 40px;
		margin: 0;
		background-size: 100% auto;
}

	#banner {
		position: relative;
    background-color: #333436;
		color: #fff;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.4);
		text-align: center;
		padding: 40px;
    padding-bottom: 100px;
    padding-top: 100px;
		margin: 0;
    width:100%;
		background-size: 100% auto;
}

	#greendog {
		position: relative;
    background-color: #139675;
		color: #fff;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.4);
		text-align: center;
		padding: 40px;
    padding-bottom: 0px;
    padding-top: 50px;
		margin: 0;
		background-size: 125% auto;
}


    #landing {
		position: relative;
    background-color: #FFF;
		color: #333;
		border: solid 2px #fff;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.4);
		text-align: center;
		padding: 40px;
		margin: 0;
		background-size: 125% auto;
    display: inline;
}

    #bluedog {
		position: relative;
    background-color: #FFF;
		color: #333;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.4);
		text-align: center;
		margin: 0;
		background-size: 125% auto;
    padding-bottom: 60px;
}


.inline {
    display: inline;
    overflow: hidden;
    width: 125%;
}

/*humane society img links*/
.dodge {
      width: 300px;
      height: 300px; 
      max-width: 50vw;
      margin: .5em;
      display: inline-block;
      transition:all .8s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    overflow: hidden;

}

.dodge:hover {
    width: 300px;
    height: 300px; 
    max-width: 50vw;
    border: none;
    overflow: hidden;
    display: inline-block;
  transform:scale(1.7);
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1..05)
}

span.title {
    background: rgba(255,69,0,0.6);
    color: white;
    cursor: pointer;
    display: table;
    width: 300px;
    height: 300px; 
}

span.title span {
    width: 300px;
    height: 300px;
    max-width: calc(50vw - 8px);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.dodge span.title:hover {
    opacity: 3;

}

span.title {
    font-size: 20px;
    line-height: 1.2em;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.1em;
    padding: 60px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: table;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.a {
  color: #000;
}

/*landing page carosel*/
/*login page*/
/*register page*/
/*home page*/
/*new post page */
.new-post {
  display: block;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  width: 800px;
  height: 360px;
  min-width: 300px;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px 40px;
  border-radius: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(185, 174, 240,0.7);

}
.pets-feed {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  width: 800px;
  height: 700px;
  min-width: 300px;
  border-radius: 15px;
  padding: 10px 40px 80px 40px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.2);
}


/*description text area*/
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    width: 100%;
    height:100px;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

li.pull-left {
  color: #333436;
}



.list-group-item {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom:20px;
}

.list-group-item:first-child {
  background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;;
    margin-bottom:20px;
}

/*buttons*/

.button {
  display: inline-block;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  position: relative;
  border-radius: 100px;
  padding: .8em 1.4em;
  padding-right: 4.7em;
  background: #009ED8;
  border: none;
  color: white;
  transition: .2s;
}
.button:before,
.button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  content: "\00a0";
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.2em;
  text-align: center;
  border-radius: 100px;
  text-transform: uppercase;
  transition: .2s;
  transform-origin: 50% 60%;
}
.button:before {
  background: rgba(0, 0, 0, 0.1);
}
.button:hover {
  background: #0079a5;
}
.button:active,
.button:focus {
  background: #002e3f;
  outline: none;
}
.button {
  min-width: 15em;
}

/*arrow button, login, signup, etc, green*/
.arrow {
  background: #139675;
}
.arrow:hover {
  background: #139675;
}
.arrow:active,
.arrow:focus {
  background: #e7e7e7;
  color:#139675;
}
.arrow:after {
  content: "\F054";
}
.arrow:hover:after {
  -webkit-animation: bounceright .3s alternate ease infinite;
  animation: bounceright .3s alternate ease infinite;
}

.fb arrow{
    background: #fff;
}
arrow {
  background: #000;
}
.arrow:hover {
  background: #139675;
}
.arrow:active,
.arrow:focus {
  background: #e7e7e7;
  color:#139675;
}
.arrow:after {
  content: "\F054";
}
.arrow1:hover:after {
  -webkit-animation: bounceright .3s alternate ease infinite;
  animation: bounceright .3s alternate ease infinite;
}


.phone {
  background: #139675;
}
.phone:hover {
  background: #0d6952;
}
.phone:active,
.phone:focus {
  background: #083b2e;
}
.phone:after {
  content: "\F095";
}
.phone:hover:after {
  -webkit-animation: wiggle .05s alternate ease infinite;
  animation: wiggle .05s alternate ease infinite;
}
.email {
   background: #B9AEF0;
  background: -webkit-linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
  background: -webkit-linear-gradient(top, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
  background: linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}
.email:hover {
  background: #8f81db;
}
.email:active,
.email:focus {
  background: rgba(255,255,255,0.7);
}
.email:after {
  content: "+";
}
.email:hover:after {
  -webkit-animation: none;
  -webkit-transform: skew(-20deg);
  animation: none;
  transform: skew(-20deg);
  text-indent: .1em;
}
.search:after {
  content: "\f002";
}
.search:hover:after {
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  animation: none;
  transform: scale(1.4);
}
@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3px);
  }
}
@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(30deg);
  }
}
@keyframes bounceright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3px);
  }
}
@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

.contact {
    font-size: 11px;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top:10px;
    padding: 15px 65px;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.7);
    color: #39444f;
    border: 1px solid #333436;
    border-radius: 100px;
}
.contact:hover {
    font-size: 11px;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 65px;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    background-color: rgb(255,255,255);
    color: #139675;
    border: 1px solid #139675;
    border-radius: 100px;
}


.bg-gradient2 span,
.bg-gradient2:before {
  background: #39C2C9;
  background: -webkit-linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
  background: -webkit-linear-gradient(top, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
  background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
}

.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
  background: #B9AEF0;
  background: -webkit-linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
  background: -webkit-linear-gradient(top, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
  background: linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

/*back button*/

.delete:active,
.delete:focus {
  background: #e7e7e7;
  color:#139675;
}
.delete:after {
  content: "X";
}
.delete:hover:after {
  -webkit-animation: bounceright .3s alternate ease infinite;
  animation: bounceright .3s alternate ease infinite;
}
.delete {
  background-color: rgba(255,255,255,0.1);
  border: solid 1px white;
  margin-left: 30px;
  font-size: 20px;
  color: #fff;
  border-radius: 50px;
   content: "\F054";
}
.delete:hover {
  background-color: rgba(255,255,255,0);
  color: deeppink;
transform: scale(1.1);
-webkit-animation: bounceright .3s alternate ease infinite;
  animation: bounceright .3s alternate ease infinite;
}


/* General */
.wrapper {
  text-align: center;
}

h3 {
  color: #666a73;
  font-weight: 300;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}