<div class="profile-col">
<div class="container" id="thiscontainer">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <br><br><br>
    <h1>My Profile</h1>
    <hr>
    <label for="name">Name:</label>
    <h3>{{thisUser.firstName}} {{thisUser.lastName}}
    </h3>
<hr>
  <label for="name">Email:</label>
  <h3>{{thisUser.email}}</h3>
  <br>
   <app-user-posts></app-user-posts>
  <hr>
   <a href="/#/update" class="btn contact">Update My Profile</a>

    
</div>

</div>
<div align="left">
 </div>

<app-user-posts></app-user-posts>
