  
<section id="banner">
<div class="infowrapper">
    <div class="info">
        <h3>navigate</h3><br>
        <ul style="list-style-type: none">
            <li><a href="/">home</a></li><br>
            <li><a href="/login">login</a></li><br>
            <li><a href="/posts">view new posts</a></li><br>
            <li><a href="/profile">profile</a></li>

        </ul>

        </div>

        <div class="infoo">
        <h3>like us? Share</h3>
            <ul class="soc-media-ul" style="list-style-type: none">
        <li><a href="" class="fa fa-2x fa-twitter" target="_blank"></a></li>
        <li><a href="" class="fa fa-2x fa-google-plus" target="_blank"></a></li>
        <li><a href="" class="fa fa-2x fa-linkedin" target="_blank"></a></li>
            </ul><br><br>
            
        </div>

      <div class="infooo">
        <h3>info</h3>
        <ul style="list-style-type: none">
            <li>
        <a href="https://github.com/AdamJayne/pap/tree/master/ParkAPet">
        <img class="in-logo" src="https://image.ibb.co/jjc8sF/papa_viewbutton.png" alt="pic here" style="width:190px; height:80px">
        </a>
        </li><br>
        <h5>(c) 2017 Park-A-Pet Design</h5>
        <hr>
     
        <h3>Contributors Bio</h3>
            <li><a href="https://adamjayne.github.io/#/">adam</a>

            </li>
            <li><a href="https://eakmayev.github.io/">emiliya</a>

            </li>
            <li><a href="https://elenalonestarr.github.io/">elena</a>
            </li>

        </ul>
    </div>
</section>