

.profile-col {
    display: block;
    margin: 0 auto;
    text-align: left;
    color: #134F05;
    width: 500px;
    height: 500px;
    min-width: 300px;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 20px 40px 80px 40px;
    border-radius: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background-color: rgb(232, 232, 232);
}

input {
    color: #134F05;
    background: rgba(0, 0, 0, 0.10);
    border-top:none;
    border-right: none;
    border-left:none;
    margin-bottom: 10px;
}

p {
    color: #134F05;
}

label {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    color: #1C1F35;
    letter-spacing: 2px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 0;
    font-size: 11px;
    text-transform: uppercase;
}
