
.container {
    margin-top: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: white;
}

#ProfilePage
{
    /* Move it off the top of the page, then centre it horizontally */
    margin: 50px auto;
    width: 635px;

/* For visibility. Delete me */
border: 1px solid red;
}

#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 20px;

/* For visibility. Delete me */
border: 1px solid red;
}

#Info
{
    width: 400px;
    text-align: center;

    /* Move it to the right */
    float: right;

/* For visibility. Delete me */
border: 1px solid blue;
=======


.profile-col {
    display: block;
    margin: 0 auto;
    text-align: left;
    color: #134F05;
    width: 500px;
    height: 500px;
    min-width: 300px;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 20px 40px 80px 40px;
    border-radius: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background-color: rgb(232, 232, 232);
}

input {
    color: #134F05;
    background: rgba(0, 0, 0, 0.10);
    border-top:none;
    border-right: none;
    border-left:none;
    margin-bottom: 10px;

}

p {
    color: #134F05;
}

label {
    display: inline-block;
}
